{% extends "base.html" %}
{% block content %}
    <h2>Nuevo Cliente</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>

{% endblock %}