{% load static %}
<html>
    <head>
        <title>Proyecto Arquitectura Web</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content container"
            <nav class="navbar navbar-inverse bg-primary" role="navigation" >
                  <div class="navbar-header">
                    <a class="navbar-brand"  href="http://dramz.pythonanywhere.com/lirApp/clientes">Sistema LIR</a>
                  </div>
                    <ul class="nav navbar-nav navbar-right">

                      <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                          Bandejas <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="http://dramz.pythonanywhere.com/lirApp/clientes">Por probar</a></li>
                          <li><a href="http://dramz.pythonanywhere.com/lirApp/clientesAprobados">Aprobados</a></li>
                          <li class="divider"></li>
                          <li><a href="http://dramz.pythonanywhere.com/lirApp/clientesRechazados">Rechazados</a></li>
                        </ul>
                      </li>
                    </ul>

            </nav>
        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>