{% extends "base.html" %}
{% block content %}
  <h2>RUT: {{ cliente.rut }}</h2>

  <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
  <p><strong>Apellidos:</strong> {{ cliente.apellidos }}</p>
  <p><strong>Tipo Procedimiento:</strong> {{ cliente.tipo_procedimiento }}</p>
  <p><strong>Estado:</strong> {{ cliente.estado }}</p>
  <p><strong>CRM ID:</strong> {{ cliente.id_crm }}</p>
  <a class="btn btn-success" href="{% url 'clienteAprobar' cliente.pk %}">Aprobar<a/>
  <a class="btn btn-danger" href="{% url 'clienteRechazar' cliente.pk %}">Rechazar<a/>
{% endblock %}