{% extends "base.html" %}
{% block content %}
    <h2>Lista Clientes Rechazados</h2>

    {% if lista_clientes %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">RUT</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Tipo Procedimiento</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
          {% for cliente in lista_clientes %}
          <tr>
              <th scope="row"><a href="{% url 'clienteDetalle' cliente.pk %}">{{cliente.rut}}</a></th>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellidos }}</td>
              <td>{{ cliente.get_tipo_procedimiento_display }}</td>
              <td>{{ cliente.get_estado_display }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No hay clientes a mostrar.</p>
    {% endif %}

{% endblock %}